
@mixin titulo($tamanio,$color){
    font-size: $tamanio;
    color:$color;
}

@mixin flex($direction,$justify,$align,$wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin grid($columns, $rows, $gap){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
}

@mixin boton($bg-color, $text-color, $font-size, $padding, $border-radius){
    background-color: $bg-color;
    color: $text-color;
    font-size: $font-size;
    padding: $padding;
    border-radius: $border-radius;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        background-color: $color-hover;
        color: $color-fondo;
        text-decoration: underline;
    }
}