@use "../utilities/mixins";
@use "../utilities/variables" ;

.formulario-contacto{
    @include mixins.flex(column,flex-start,flex-start,auto);
    padding: 20px;
    padding-right: 50px;
    margin: 20px auto;
    max-width: 600px;
    border: 2px solid variables.$color-secundario;
    border-radius: 10px;
    background-color: variables.$color-fondo;
    .email, .mensaje{
        font-size: variables.$tamanio-texto;
        color: variables.$color-texto;
        font-family: "Poppins", sans-serif;
        background-color:#e0e0e0 ;
        margin: 15px 15px 0 15px;
        padding: 10px;
        border: none;
    }
    .form-label{
        font-size: 20px;
        color: variables.$color-texto;
        margin: 0 0 0 15px;
    }
    .boton-enviar{
        margin: 15px;
        @include mixins.boton(variables.$color-secundario,variables.$color-texto,variables.$tamanio-texto,5px,5px);
    }
}
.otros-contactos{
    @include mixins.flex (column,flex-start,flex-start,auto);
    max-width: 600px;
    margin: 0 auto 40px auto;
    padding: 20px;
}