@use "../utilities/mixins" as *;
@use "./variables" as *;

.formulario-contacto{
    @include flex(column,flex-start,flex-start,auto);
    padding: 20px;
    padding-right: 50px;
    margin: 20px auto;
    max-width: 600px;
    border: 2px solid $color-secundario;
    border-radius: 10px;
    background-color: $color-fondo;
    .email, .mensaje{
        font-size: $tamanio-texto;
        color: $color-texto;
        font-family: "Poppins", sans-serif;
        background-color:#e0e0e0 ;
        margin: 15px 15px 0 15px;
        padding: 10px;
        border: none;
    }
    .form-label{
        font-size: 20px;
        color: $color-texto;
        margin: 0 0 0 15px;
    }
    .boton-enviar{
        margin: 15px;
        @include boton($color-secundario,$color-texto,$tamanio-texto,5px,5px);
    }
}
.otros-contactos{
    @include flex (column,flex-start,flex-start,auto);
    max-width: 600px;
    margin: 0 auto 40px auto;
    padding: 20px;
}