@use "../utilities/mixins";
@use "../utilities/variables" ;
@use "../utilities/extends";

.faqs{
    max-width: 800px;
    margin: 0 auto 40px auto;
    padding: 20px;
}
.accordion-button{
    font-size: 20px;
    color: variables.$color-texto;
    &:hover{
        background-color: #e0e0e0;
    }
}
.accordion-body{
    font-size: variables.$tamanio-texto;
    color: variables.$color-texto;
}
.faqs-intro{
    @include mixins.flex(column,center,center,auto);
    .faqs-intro-text{
        text-align: center;
        padding: 0 20px;
    }
    .faqs-img{
        max-width: 400px;
        height: auto;
        margin-bottom: 15px;
    }
}
.faqs-contacto{
    @include mixins.flex(column,center,center,auto);
    margin-top: 30px;
    .icono-contacto{
        max-width: 100px;
        height: auto;
        margin-bottom: 15px;
    }
    .boton{
        @extend %boton;
    }
}
