@use "../utilities/variables";
@use "../utilities/mixins";

/* Mobile */
@media(max-width:576px){
    body{
        padding: 20px;
    }
    header{
        @include mixins.flex(row,center,center,auto);
        .navbar {
            width:100%;
            position: relative;
            background: transparent;
            padding: 0.4rem 1rem;
        }

        .container-fluid {
            max-width: 100%;
            @include mixins.flex(row,space-evenly,center,auto);
        }

        .navbar-toggler {
            margin-left: auto;
        }

        .navbar-collapse {
            position: absolute;
            top: calc(56px + 70px); 
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            background-color: variables.$color-fondo;
            border-radius: 8px;
            padding: 0.6rem;
            z-index: 1000;
            box-shadow: 0 8px 24px variables.$color-secundario;
        }

        .navbar-collapse.collapse:not(.show) {
            display: none;
        }

        .navbar-nav {
            @include mixins.flex(column,center,center,auto);
            gap: 0.5rem;
            margin:10px;
        }

        .logo {
            width: 100px;      
            height: auto;     
            max-width: none;   
        }
    }
    .introduccion{
        @include mixins.flex(column,center,center,wrap);
        .welcome-text{
            @include mixins.flex(column,center,center,wrap);                max-width:100%;
            }
        }

    /* index*/
    .gym{
        width: 100%;
    }
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
    .home-links{
        nav{
            flex-direction: column;
            gap: 10px;
        }
    }
    /* Clases*/
    .plan{
        width: 90%;
        height: auto;
        margin: 20px 0;
        font-size: variables.$tamanio-texto;
    }
    .clases-incluidas{
        @include mixins.grid(100%,repeat(1fr,6),auto);
        grid-template-areas:
            "yoga"
            "pilates"
            "spinning"
            "EF"
            "zumba"
            "boxeo";
        gap: 20px;
    }
    .clase-contenido{
        width: 100%;
        height: auto;
    }
    /*Servicios*/
    .servicios{
        @include mixins.grid(100%,repeat(1fr,4),auto);
        grid-template-areas:
            "entrenamiento"
            "libregym"
            "masaje"
            "nutricion";
    }
    /*Contacto*/
    .formulario-contacto{
        border:none
    }
}
/* Tablets */
@media (min-width: 769px)and (max-width: 1024px){
    .collapse{
            position:absolute;
            top: 100%;     
            left: 0;
            width: 0;
            background-color: white;
            z-index: 9999;
        }
    .introduccion{
        @include mixins.flex(column,center,center,wrap);
    }
    .clases-incluidas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "yoga pilates"
            "spinning EF"
            "zumba boxeo";
        gap: 15px;
        font-size: 24px;
    }
    .clase-contenido{
        font-size: 24px;
    }
}
/* Small tablets and large phones */
@media (min-width:577px) and (max-width: 768px){
    .clases-incluidas{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
