
$color-fondo:#f5f5f5;
$color-texto:#1c1c1c;
$tamanio-texto:18px;
$fuente-principal: 'Poppins', sans-serif;
$color-secundario:#00adb5;
$color-hover:#008f95;
$tamanio-titulo:48px;
$tamanio-subtitulo:36px;
$taminio-apartado:24px;
