@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}
body p {
  font-size: 18px;
  color: #1c1c1c;
}
body h1 {
  font-size: 48px;
  color: #00adb5;
}
body h2 {
  font-size: 36px;
  color: #00adb5;
}
body h3 {
  font-size: 24px;
  color: #00adb5;
}

header {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: auto;
  padding: 10px 20px;
}
header .logo {
  width: 169.2px;
  height: auto;
}
header .navbar {
  justify-self: flex-end;
}
header .navbar ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 5px;
  margin: 0 10px;
}
header .navbar ul li .boton {
  background-color: #00adb5;
  color: #1c1c1c;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}
header .navbar ul li .boton:hover {
  cursor: pointer;
  background-color: #008f95;
  color: #f5f5f5;
  text-decoration: underline;
}
header .navbar ul li .boton {
  width: auto;
  font-size: 24px;
}

.main-header {
  text-align: center;
}

.introduccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: auto;
}
.introduccion .welcome-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 850px;
  text-align: center;
  gap: 20px;
  margin: 10px;
}
.introduccion .welcome-text .gym {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin: 0 auto;
}
.introduccion .home-links nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.introduccion .home-links nav .boton {
  background-color: #00adb5;
  color: #1c1c1c;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.introduccion .home-links nav .boton:hover {
  cursor: pointer;
  background-color: #008f95;
  color: #f5f5f5;
  text-decoration: underline;
}
.introduccion .home-links nav .boton {
  margin: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: auto;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
footer .footer-img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.membresias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.plan {
  border: 2px solid #00adb5;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  height: 320px;
  text-align: center;
  margin: 50px;
}
.plan ul li {
  list-style-type: None;
}
.plan h3 {
  border: 2px solid #00adb5;
  margin-bottom: 10px;
  background-color: #00adb5;
  color: #f5f5f5;
}
.plan .boton-plan {
  display: inline-block;
  background-color: #00adb5;
  color: #1c1c1c;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}
.plan .boton-plan:hover {
  cursor: pointer;
  background-color: #008f95;
  color: #f5f5f5;
  text-decoration: underline;
}

.subtitulo-clases {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.clases-incluidas {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 350px 350px;
  gap: 5px;
  padding: 20px;
  grid-template-areas: "yoga pilates spinning" "EF zumba boxeo";
  justify-items: center;
}
.clases-incluidas .yoga {
  grid-area: yoga;
}
.clases-incluidas .pilates {
  grid-area: pilates;
}
.clases-incluidas .spinning {
  grid-area: spinning;
}
.clases-incluidas .EF {
  grid-area: EF;
}
.clases-incluidas .zumba {
  grid-area: zumba;
}
.clases-incluidas .boxeo {
  grid-area: boxeo;
}
.clases-incluidas .clase-contenido {
  border: 2px solid #00adb5;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  height: 350px;
  text-align: center;
  margin: 20px;
}
.clases-incluidas .clase-contenido p {
  margin-top: 10px;
  font-size: 15px;
}
.clases-incluidas .clase-contenido h3 {
  border: 2px solid #00adb5;
  margin-bottom: 10px;
  background-color: #00adb5;
  color: #f5f5f5;
  border-radius: 5px;
}
.clases-incluidas .clase-contenido .clase-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: auto;
  padding: 20px;
  padding-right: 50px;
  margin: 20px auto;
  max-width: 600px;
  border: 2px solid #00adb5;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.formulario-contacto .email, .formulario-contacto .mensaje {
  font-size: 18px;
  color: #1c1c1c;
  font-family: "Poppins", sans-serif;
  background-color: #e0e0e0;
  margin: 15px 15px 0 15px;
  padding: 10px;
  border: none;
}
.formulario-contacto .form-label {
  font-size: 20px;
  color: #1c1c1c;
  margin: 0 0 0 15px;
}
.formulario-contacto .boton-enviar {
  margin: 15px;
  background-color: #00adb5;
  color: #1c1c1c;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.formulario-contacto .boton-enviar:hover {
  cursor: pointer;
  background-color: #008f95;
  color: #f5f5f5;
  text-decoration: underline;
}

.otros-contactos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: auto;
  max-width: 600px;
  margin: 0 auto 40px auto;
  padding: 20px;
}

.faqs {
  max-width: 800px;
  margin: 0 auto 40px auto;
  padding: 20px;
}

.accordion-button {
  font-size: 20px;
  color: #1c1c1c;
}
.accordion-button:hover {
  background-color: #e0e0e0;
}

.accordion-body {
  font-size: 18px;
  color: #1c1c1c;
}

.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  display: grid;
  grid-template-areas: "entrenamiento libregym" "masaje nutricion";
  padding: 20px;
  justify-items: center;
}

.servicio-gym {
  border: 2px solid #00adb5;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  height: 350px;
  text-align: left;
  margin: 20px;
}
.servicio-gym img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
.servicio-gym .ent-per {
  grid-area: entrenamiento;
}
.servicio-gym .free-gym {
  grid-area: libregym;
}
.servicio-gym .masaje {
  grid-area: masaje;
}
.servicio-gym .ase-nutri {
  grid-area: nutricion;
}

/* Mobile */
@media (max-width: 576px) {
  body {
    padding: 20px;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: auto;
  }
  header .navbar {
    width: 100%;
    position: relative;
    background: transparent;
    padding: 0.4rem 1rem;
  }
  header .container-fluid {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: auto;
  }
  header .navbar-toggler {
    margin-left: auto;
  }
  header .navbar-collapse {
    position: absolute;
    top: 126px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 0.6rem;
    z-index: 1000;
    box-shadow: 0 8px 24px #00adb5;
  }
  header .navbar-collapse.collapse:not(.show) {
    display: none;
  }
  header .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: auto;
    gap: 0.5rem;
    margin: 10px;
  }
  header .logo {
    width: 100px;
    height: auto;
    max-width: none;
  }
  .introduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .introduccion .welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
  }
  /* index*/
  .gym {
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
  .home-links nav {
    flex-direction: column;
    gap: 10px;
  }
  /* Clases*/
  .plan {
    width: 90%;
    height: auto;
    margin: 20px 0;
    font-size: 18px;
  }
  .clases-incluidas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1fr, 6);
    gap: auto;
    grid-template-areas: "yoga" "pilates" "spinning" "EF" "zumba" "boxeo";
    gap: 20px;
  }
  .clase-contenido {
    width: 100%;
    height: auto;
  }
  /*Servicios*/
  .servicios {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1fr, 4);
    gap: auto;
    grid-template-areas: "entrenamiento" "libregym" "masaje" "nutricion";
  }
  /*Contacto*/
  .formulario-contacto {
    border: none;
  }
}
/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    background-color: white;
    z-index: 9999;
  }
  .introduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .clases-incluidas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "yoga pilates" "spinning EF" "zumba boxeo";
    gap: 15px;
    font-size: 24px;
  }
  .clase-contenido {
    font-size: 24px;
  }
}
/* Small tablets and large phones */
@media (min-width: 577px) and (max-width: 768px) {
  .clases-incluidas {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
